@import "tailwindcss";
@import "@featul/ui/globals.css";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
