/* Remove borders from editor content wrapper and ProseMirror root */
.ProseMirror {
  border: none !important;
  outline: none !important;
}

/* Remove borders from common block elements */
.ProseMirror > p,
.ProseMirror > h1,
.ProseMirror > h2,
.ProseMirror > h3,
.ProseMirror > h4,
.ProseMirror > h5,
.ProseMirror > h6,
.ProseMirror > ul,
.ProseMirror > ol,
.ProseMirror > blockquote,
.ProseMirror > pre,
.ProseMirror > div:not(.tableWrapper) {
  border: none !important;
  outline: none !important;
}

